@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.logo{
    height: 48px;
}

body{
    background-color: #151515;
}

*{
    padding: 0px;
	font-family: 'Barlow',sans-serif;
    margin: 0px;
}

nav{
    padding-left: 10%;
    padding-right: 10%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 3px solid #232323;
    justify-content: space-between;
}

ul, li{
    color: aliceblue;
    font-size: x-large;
    list-style-type: none;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

footer{
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 3px solid #232323;
	padding-bottom: 5px;
	padding-top: 5px;
}

.search{
    border-radius: 50px;
    border: #232323 2px solid;
    color: white;
}

input{
    background: none;
    padding: 10px 14px;
    outline: none;
    border: none;
    color: white;
}

input::placeholder{
    color: white;
}

.fa-magnifying-glass{
    padding-right: 14px;
}

.right{
	display: flex;
	align-items: center;
	flex-direction: row;
}

.right{
    /* display: none; */
}

.bars{
	color: white;
	margin-left: 20px;
    font-size: 22px;
}

h1{
	color: white;
    margin-top: 10px;
	font-size: 22px;
	padding-left: 5%;
}

.container{
	color: white;
	margin-top: 5px;
	padding-left: 5%;
	padding-right: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr)}

h4{
    font-size: 15px;
    color: #888888;
}

.r-img{
	border-radius: 8px;
	width: 350px;
}

h3{
    font-size: 18px;
}

.content-contain{
    margin-top: 12px;
}

.content-contain:first-of-type{
    margin-top: 0px;
}

a{
    text-decoration: none;
    color: white;
}